*{
  margin: 0;
  padding: 0;

}
body{
  /* background-color: rgba(198, 78, 238, 0.87); */
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/267/214/non_2x/modern-clean-white-background-free-vector.jpg"); 
  background-repeat: no-repeat;
  
}
.center_div{
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;

}
h1{
  background-color: rgb(82, 27, 81);
  border-radius: 10px;
  padding: 10px;
  font-style:italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aliceblue;
}
input,button{
  border: none;
  padding: 10px;  
  font-size:medium;
  font-weight: bold;
  text-align: center;
}
input{
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}
button{
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}
ul{
  margin: 50px;
  list-style:none;
  width: 25vw;
  flex-direction: row;
  /* list-style-type: circle; */
  width: 22vw;
}

.todosty{
  margin-left: 55%;
  display: flex;
  justify-content: space-between;
}
.todosty li{
  font-style: normal;
  font-weight: 500;
  font-size: larger;
}
.todosty i{
  font-size:medium;
}
.todosty #tick{
  visibility: hidden;
  position: absolute;
  margin-left: -25px;
}